<form method="post" class="form-card">
    {erro}
    <input
        class="form-card-title"
        type="text"
        name="titulo"
        placeholder="Título"
        value="{title}"
        required
    />
    <textarea
        class="autoresize"
        name="detalhes"
        placeholder="Digite o conteúdo..."
        required
    >{content}</textarea>
    <button class="btn" type="submit">Salvar</button>
    <a class="btn" href="/" style="background-color:#e5e5e5; margin-top:8px;">Cancelar</a>
</form>